@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'typeWritter';
  src: url('/fonts/typewritter.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
