
.backToTop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #010127;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 2px #675C9C;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.backToTop:hover {
  width: 110px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #675C9C;
  align-items: center;
}
.backToTop:active{
    background-color: #312a54;
}

.backToTop:hover .svgIcon {
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.backToTop::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  font-size: 0px;
}

.backToTop:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}
